################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MemoryGame/.vs/MemoryGame/v14/.suo
